<div class="col-md-6 offset-md-3" style="padding-top: 2%;">
    <mat-card [class.mat-elevation-z8]="true" class="card-big login-card">
        <mat-card-title>
            Registrace
        </mat-card-title>
        <div class="login-items">
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Jméno</mat-label>
                    <input formControlName="firstname" matInput placeholder="Jméno">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Příjmení</mat-label>
                    <input formControlName="lastname" matInput placeholder="Příjmení">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" matInput placeholder="Email">
                </mat-form-field>
                <div>
                    <mat-form-field appearance="outline" class="birthdaypicker">
                        <mat-label>Day</mat-label>
                        <input formControlName="day" type="number" matInput placeholder="Day">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="birthmonthpicker">
                        <mat-label>Select me</mat-label>
                        <mat-select formControlName="month">
                            <mat-option value="1">Leden</mat-option>
                            <mat-option value="2">Únor</mat-option>
                            <mat-option value="3">Březen</mat-option>
                            <mat-option value="4">Duben</mat-option>
                            <mat-option value="5">Květen</mat-option>
                            <mat-option value="6">Červen</mat-option>
                            <mat-option value="7">Červenec</mat-option>
                            <mat-option value="8">Srpen</mat-option>
                            <mat-option value="9">Září</mat-option>
                            <mat-option value="10">Říjen</mat-option>
                            <mat-option value="11">Listopad</mat-option>
                            <mat-option value="12">Prosinec</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="birthyearpicker">
                        <mat-label>Year</mat-label>
                        <input formControlName="year" type="number" matInput placeholder="Year">
                    </mat-form-field>
                    <p>Vaše datum narození</p>
                </div>
                <mat-form-field appearance="outline" style="padding-right: 1rem;">
                    <mat-label>Select me</mat-label>
                    <mat-select formControlName="sex">
                        <mat-option value="false">Muž</mat-option>
                        <mat-option value="true">Žena</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Oddíl</mat-label>
                    <mat-select formControlName="club">
                        <mat-option *ngFor="let club of clubs" [value]="club.id">
                            {{club.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Enter your password</mat-label>
                    <input formControlName="password" matInput [type]="'password'">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Confirm</mat-label>
                    <input formControlName="confirmPassword" matInput [type]="'password'">
                </mat-form-field>
                <div>
                    <button mat-button color="primary" (click)="Cancel()">Domů</button>
                    <button mat-raised-button color="primary" style="float: right;" [disabled]="loading">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                      Registrovat
                    </button>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                </div>
            </form>
        </div>
    </mat-card>
</div>
