<div id="toolbar" [class.mat-elevation-z3]="true">
  <nav class="navbar navbar-expand">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLink="/select">Závody</a>
      <!-- <a class="nav-item nav-link" routerLink="/races">Výsledky</a> -->
    </div>
  </nav>
  <nav class="navbar navbar-expand" style="right: auto;">
    <div class="navbar-nav">
      <a class="nav-item nav-link" *ngIf="IsSignedIn | async" routerLink="/">Hello, {{ UserName.value }}!</a> <!--   TODO : create a profile page   -->
      <a style="color: white; text-align: center; margin: auto;" class="nav-item nav-link" *ngIf="IsSignedIn | async else elseBlock" (click)="logout()">Odhlásit</a>
      <ng-template #elseBlock><a style="color: white; text-align: center; margin: auto;" class="nav-item nav-link" routerLink="/login">Přihlásit</a></ng-template>
    </div>
  </nav>
</div>
