<div class="col-md-6 offset-md-3 mt-5 logCenter">
  <mat-card [class.mat-elevation-z8]="true" class="card-big login-card">
    <div class="list-group list-group-horizontal">
      <button type="button" class="list-group-item list-group-item-action btn" (click)="changeFormToAthlete()"
              [ngClass]="{'active':isUserForm, '':!isUserForm}">Závodník
      </button>
      <button type="button" class="list-group-item list-group-item-action btn" (click)="changeFormToClub()"
              [ngClass]="{'active':!isUserForm, '':isUserForm}">Oddíl
      </button>
    </div>
    <div class="login-items" *ngIf="isUserForm">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Email</mat-label>
          <input formControlName="username" matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Enter your password</mat-label>
          <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
          <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button> -->
          <!-- TODO: Invokes form submit -->
        </mat-form-field>
        <div>
          <button mat-button color="primary" (click)="toRegistrations()">Registrovat</button>
          <button mat-raised-button color="primary" style="float: right;" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Přihlásit
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </div>
      </form>
    </div>
    <div class="login-items" *ngIf="!isUserForm">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Oddíl</mat-label>
          <input formControlName="username" matInput placeholder="Název či zkratka">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Enter your password</mat-label>
          <input formControlName="password" matInput [type]="'password'">
        </mat-form-field>
        <div>
          <button mat-button color="primary" style="visibility: hidden">v</button>
          <button mat-raised-button color="primary" style="float: right;" [disabled]="loading">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Přihlásit
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </div>
      </form>
    </div>
  </mat-card>
</div>
