/* You can add global styles to this file, and also import other style files */

html, body {
  height: 98%;
  padding-bottom: 40px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1,
h2 {
  font-weight: lighter;
}


/* Hyperlink */

a {
  cursor: pointer;
  /*margin-left: 0.3rem;*/
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
  text-decoration: none;
}


/* Top Bar */

#toolbar {
  width: 100%;
  height: 56px;
  background-color: #0091EA;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}


/* Footer */

#footer {
  background-color: #0091EA;
  position: relative;
  height: 40px;
  margin-top: -40px;
  width: 100%;
  clear: both;
}

/* Main */

#main {
  overflow: auto;
  padding-bottom: 40px;
  min-height: 100%;
}
