.nadpis {
    text-align: center;
    color: #005cbf;
}
th{
    scope:"col";
}

.th-uzky{
    width: 60px;
    text-align: center;
}

.th-technickyVykon{
    width: 120px;
    text-align: center;
    text-wrap: avoid;
}

.td-uzky{
    text-align: center;
}

.th-cas{
    width: 80px;
    text-align: center;
}


.td-cas{
    text-align: center;
}

.th-oddil{
    width: 250px;
}

.jumbotron-custom{
    padding-top: 0.3rem;
    padding-bottom: 0.05rem;
    background-color: #e9ecef;
    margin-bottom: 0.1rem;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 0px 0;
}

.pocet-atletu{
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
    text-align: center;
}

.prazdny-radek{
    margin: 2.5rem;
}

.element-to-rotate {
    display: block;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    margin-top: -50%;
}

.rotation-wrapper-outer {
    display: table;
}
.rotation-wrapper-inner {
    padding: 50% 0;
    height: 0;
}

.th-vyska{
    width: 100px;
    text-align: center;
}

table { page-break-inside:avoid; width: 100% }
tr    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }
section { page-break-inside: avoid}
#header {
    display: table-header-group;
}

#main {
    display: table-row-group;
}

.page-footer, .page-footer-space {
    height: 25px;
}

.page-header {
    position: fixed;
    top: 0mm;
    width: 100%;
    border-bottom: 1px solid black; /* for demo */
}

.page-header, .page-header-space {
    height: 120px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid black; /* for demo */
}

@page {
    margin: 20mm;
}

.page {
    page-break-after: always;
}

@media print {
    thead {display: table-header-group;}
    tfoot {display: table-footer-group;}

    button {display: none;}

    body {margin: 0;}
}
